[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
beautifulsoup4 = "*"
pandas = "*"
invoke = "==1.4.1"
Kivy = "==1.11.1"
kivy-garden = "*"
buildozer = "*"
Cython = "*"
ffpyplayer = "*"
python-for-android = "*"
mysql-connector-python = "*"
mysql-connector = "*"
mysql-connector-python-rf = "*"


[dev-packages]
pytest = "*"
