[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
invoke = "==1.4.1"
Kivy = "==2.1.0.dev0"
kivy-Garden = "*"
kivymd = "*"
buildozer = "*"
Cython = "*"
ffpyplayer = "*"
python-for-android = "*"
"kivy-garden.zbarcam" = "*"
kivy-garden_qrcode = {qrcode = "*"}
kivy-garden_xcamera = {xcamera = "*"}
pillow = "*"
cmake = "*"

[requires]
python_version = "3.8"
